rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read all deals
    match /deals/{dealId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
    }
    
    // Allow users to manage their own interactions
    match /userInteractions/{interactionId} {
      allow read, write: if request.auth != null && 
        interactionId.matches('[^_]+_.*') &&
        interactionId.split('_')[0] == request.auth.uid;
    }
    
    // Allow read access to all stores, and authenticated users can create stores
    match /stores/{storeId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
    }
  }
} 